html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}


/* Encabezado */

.encabezado {
    text-align: center;
    background-color: #111111;
    color: white;
    padding: 25px;
    margin-bottom: 30px;
}

    .encabezado h1 {
        font-size: 42px;
    }


/* Contenedor */

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


/* Tarjetas */

.tarjeta-producto {
    width: 280px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}


/* Imagen */

.imagen-jersey {
    width: 200px;
    height: 220px;
    object-fit: contain;
}


/* Precio */

.precio {
    font-size: 22px;
    font-weight: bold;
    color: #198754;
}


/* Botón agregar */

.boton-agregar {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
}


    .boton-agregar:hover {
        background-color: #084298;
    }


/* Tabla carrito */

.tabla-carrito {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}


    .tabla-carrito th,
    .tabla-carrito td {
        border: 1px solid #cccccc;
        padding: 12px;
        text-align: center;
    }


    .tabla-carrito th {
        background-color: #212529;
        color: white;
    }


/* Botón eliminar */

.boton-eliminar {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
}


    .boton-eliminar:hover {
        background-color: #a71d2a;
    }


/* Total */

.total-carrito {
    margin-top: 20px;
    text-align: right;
    font-size: 26px;
    font-weight: bold;
}